<div ng-controller="weddingTime.guests.GuestListController">
    <div class="row">
        <div class="col-xs-12">
            <h2>The Guest List</h2>
        </div>
    </div>

    <alert ng-cloak ng-repeat="alert in alerts" type="\{{alert.type}}" close="closeAlert($index)">\{{alert.msg}}</alert>

    <div>
        <ul class="nav nav-pills col-xs-12 col-sm-9" role="tablist" ng-cloak>
            <li role="presentation" ng-repeat="tab in tabs" ng-class="{active:isActive(tab.title)}" ng-click="setActive(tab)">
                <a href="#">\{{tab.title}} <span class="badge">\{{(guests|filter:tab.filter).length}}</span></a>
            </li>
        </ul>
        <div class="btn-group col-xs-6 col-sm-3" role="group">
            <button type="button" class="btn btn-default" ng-click="groupFilter = {}">All</button>
            <button type="button" class="btn btn-default" ng-click="groupFilter = {group: 'Liz'}">Bride</button>
            <button type="button" class="btn btn-default" ng-click="groupFilter = {group: 'Michael'}">Groom</button>
        </div>
    </div>

    <table class="table" ng-cloak>
        <thead>
        <tr>
            <th class="col-xs-3">Name</th>
            <th class="col-xs-3">Guests</th>
            <th class="col-xs-1" ng-if="!attending()"># Invited</th>
            <th class="col-xs-1" ng-if="attending()"># Attending</th>
            <th class="col-xs-1">Guest?</th>
            <th class="col-xs-2" ng-if="attending()">Guest Name</th>
            <th class="col-xs-1" ng-if="!hasRsvpd()">RSVP Code</th>
            <th class="col-xs-2" ng-if="hasRsvpd()">Message</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="guest in guests | filter: guestFilter | filter : groupFilter | orderBy: 'invitationName'">
            <td class="col-xs-3">\{{guest.invitationName}}</td>
            <td class="col-xs-3" ng-if="!attending()">\{{guest.namesInvited.join(", ")}}</td>
            <td class="col-xs-3" ng-if="attending()">\{{guest.namesComing.join(", ")}}</td>
            <td class="col-xs-1" ng-if="!attending()">\{{guest.numberInvited}}</td>
            <td class="col-xs-1" ng-if="attending()">\{{guest.numberComing}}</td>
            <td class="col-xs-1" ng-if="guest.guestAllowed">Yes</td>
            <td class="col-xs-1" ng-if="!guest.guestAllowed">No</td>
            <td class="col-xs-1" ng-if="attending()">\{{guest.guestName}}</td>
            <td class="col-xs-1" ng-if="!hasRsvpd()">\{{guest.rsvpCode}}</td>
            <td class="col-xs-1" ng-if="hasRsvpd()">\{{guest.message}}</td>
            <td class="col-xs-1 text-right" ng-if="!hasRsvpd()">
                <div class="btn-group" role="group">
                    <button guest-form guest="guest" on-submit="updateGuest" submit-text="Update" class="btn btn-default"><span class="glyphicon glyphicon-pencil"></span></button>
                    <button ng-click="deleteGuest(guest)" class="btn btn-default"><span class="glyphicon glyphicon-trash"></span></button>
                </div>
            </td>
        </tr>
        </tbody>
    </table>

    <button class="btn btn-primary" guest-form on-submit="addGuest">Add a new Guest</button>
</div>
