<div ng-controller="weddingTime.guests.GuestListController" class="container-fluid">
    <div ng-cloak class="row">
        <div class="guest-list__side-bar col-xs-12 col-md-3 col-lg-3 offset-lg-1">
            <h5>Side</h5>
            <ul class="nav nav-pills nav-stacked guest-list__filter" role="tablist" ng-cloak>
                <li role="presentation"
                    ng-class="{'nav-link': true, active: !groupFilter.group}"
                    ng-click="groupFilter = {}">
                    <a role="button">All</a>
                </li>
                <li role="presentation"
                    ng-class="{'nav-link': true, active: isActiveGroup('Liz')}"
                    ng-click="setActiveGroup('Liz')">
                    <a role="button">Bride</a>
                </li>
                <li role="presentation"
                    ng-class="{'nav-link': true, active: isActiveGroup('Michael')}"
                    ng-click="setActiveGroup('Michael')">
                    <a role="button">Groom</a>
                </li>
            </ul>
            <h5>Status</h5>
            <ul class="nav nav-pills nav-stacked guest-list__filter" role="tablist" ng-cloak>
                <li role="presentation"
                    ng-repeat="tab in tabs"
                    ng-class="{'nav-link': true, active: isActive(tab.title)}"
                    ng-click="setActive(tab)">
                    <a role="button">
                        \{{tab.title}} <span class="tag tag-default">\{{(guests|filter:tab.filter).length}}</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-xs-12 col-md-9 col-lg-6 offset-lg-1">
            <h2>The Guest List</h2>

            <alert ng-cloak ng-repeat="alert in alerts"
                   type="\{{alert.type}}"
                   close="closeAlert($index)">
                \{{alert.msg}}
            </alert>

            <div class="guest-list__container">
                <div class="guest-list"
                     ng-repeat="guest in guests | filter: guestFilter | filter : groupFilter | orderBy: 'invitationName'">
                    <h3 >\{{guest.invitationName}}</h3>
                    <div class="row">
                        <div ng-if="!attending()" class="col-xs-12 col-sm-8 col-md-12">
                            <strong>Invited</strong>
                            <p>\{{guest.namesInvited.join(", ")}}</p>
                        </div>
                        <div ng-if="attending()" class="col-xs-12 col-sm-8 col-md-12">
                            <strong>Coming</strong>
                            <p>\{{guest.namesComing.join(", ")}}<span ng-if="guest.guestName">, \{{guest.guestName}}</span></p>
                        </div>
                        <div ng-if="!attending()" class="col-xs-12 col-sm-4 col-md-4">
                            <strong># Invited</strong>
                            <p>\{{guest.numberInvited}}</p>
                        </div>
                        <div ng-if="attending()" class="col-xs-12 col-sm-4 col-md-4">
                            <strong># Coming</strong>
                            <p>\{{guest.numberComing}}/\{{guest.numberInvited}}</p>
                        </div>
                        <div ng-if="!hasRsvpd()" class="col-xs-12 col-sm-8 col-md-4">
                            <strong>RSVP Code</strong>
                            <p >\{{guest.rsvpCode}}</p>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-4">
                            <strong>+1</strong>
                            <p ng-if="guest.guestAllowed">Yes</p>
                            <p ng-if="!guest.guestAllowed">No</p>
                        </div>
                        <div ng-if="hasRsvpd() && guest.message" class="col-xs-12">
                            <strong>A message for you</strong>
                            <p>\{{guest.message}}</p>
                        </div>
                    </div>
                    <p class="text-right" ng-if="!hasRsvpd()">
                        <div class="btn-group" role="group">
                            <button guest-form
                                    guest="guest"
                                    on-submit="updateGuest"
                                    submit-text="Update"
                                    class="btn btn-secondary">
                                Edit
                            </button>
                            <button ng-click="deleteGuest(guest)"
                                    class="btn btn-secondary">
                                Delete
                            </button>
                        </div>
                    </p>
                </div>
            </div>


            <button class="btn btn-primary" guest-form on-submit="addGuest">Add a new Guest</button>
        </div>
    </div>

</div>
